# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
env/

# --- PyInstaller (The "Build" Junk) ---
# We keep the script, but hide the massive temporary folders
build/
dist/
*.spec

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/
Thumbs.db

# --- Project Specific ---
# If you eventually add a local history file, ignore it to keep your passwords off GitHub
vault_history.txt
*.log
